.geist-mono{
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
body{
  font-family: "Geist Mono", monospace;
  font-weight: 600;
  background-color: white;
  color: black;
}

header{
  text-align: center;
  font-size: 25px;
}

.DrkMde{
  font-size: 16px;
  padding: 14px 10px;
  font-family: "Geist Mono", monospace;
  font-weight: bold;
  background-color: darkgray;
  border: none;
}

nav{
  overflow: hidden;
  background-color: darkgray;
  color: black;
}

nav a{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #ad343a;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.sect1 h2{
  text-align: center;
}

.sect1 h3{
  text-align: center;
}

.sect1 h4{
  text-align: center;
}

.sect1{
  margin-left: 10px;
  margin-right: 10px;
}

.sect1 a{
  text-decoration: none;
  color: #ad343a;
  margin-left: 10px;
  margin-right: 10px;
}

footer{
  text-align: center;
}